# Ignore everything
/*

# Folders
!/gradle
!/src
!/.github

# Files
!/.gitattributes
!/.gitignore
!/.editorconfig
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/LICENSE
!/LICENSE.LOOM
!/README.md
!/README.LOOM.md
!/settings.gradle
!/Jenkinsfile
!/checkstyle.xml